body {
	padding-top: 50px;
	padding-bottom: 50px;
	/*text-align: center;*/
}
.status {
  color: blue;
  padding: 1em;
  height: 1em;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.img-size{
 width: 6em;
 height: 6em;
}

.center {
	text-align:center;
}

.black{
	color:black;
}

.left{
    display:inline-block;
    vertical-align:top;
    margin-left:.5em;
    margin-top:0px;
}
.name{
    margin-top:0px;
    color:gray;
}
.gray{
	color:gray;
}
.date{
	color:gray;
	font-size:.75em;
}
.yellow{
	color:#D3D313;
}