<style>body {background: url('http://content.sportslogos.net/logos/35/911/full/2700_wichita_state_shockers-alternate-2010.png') no-repeat center center fixed;} </style>
      <form class="form-signin" role="form" ng-submit="newUser()">
        <h2 class="form-signin-heading"><div align ="center"><font color="white"><b>Wichita State<br> Student<span class="glyphicon glyphicon-flash yellow"></span>Connect</b></font></div></h2>
        <input type="text" class="form-control" placeholder="First" ng-model="first" required autofocus>
        <input type="text" class="form-control" placeholder="Last" ng-model="last" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> <font color="white"><b>Remember me</b></font>
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
		<br>
		<div align ="center"><button type="button" class="btn btn-lg btn-primary">New User</button></div>
      </form>